
@{
    ViewBag.Title = "Register";
}

<h4>Спасибо за регистрацию на мероприятие @ViewBag.Event.Name</h4> 
<p>@Html.ActionLink("На главную", "Index")<style>a{margin-right:30px}</style> @Html.ActionLink("Мои мероприятия", "MyEvents")<p>

